.calendar-grid{
    padding-top: 40px;
    padding-left: 250px;
    height: 300px;
    width: 80%;
}

.calendar-heading{
    padding-left: 235px;
    font-size: 20px;
    font-weight: bolder;
    color: #104d23;
}

.top-row{
    padding-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.button1{
    background-color: #104d23;
    font-size: 15px;
    color: #f5f5f5;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }