.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }

.card-icon{
    color: #104d23;
    size: 50px;
}

.card{
    margin: 10px; 
}
